@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Barlow:wght@400;600&family=Barlow+Semi+Condensed:ital,wght@0,700;1,900&family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#svelte {
	@apply min-h-screen;
	background: #f9fafb url('/background.svg');
	background-size: 30rem;
}
